<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/assets/css/Cliente.css">
    <title>Actualizar Cliente</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/" class="logo">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar">
                <li><a href="#Inicio" class="active">Inicio</a></li>
                <li>
                    <a href="#home">Gestionar Productos</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="/Producto/registrarProducto">Registrar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Consultar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Actualizar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Eliminar Producto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Nosotros">Gestionar Ventas</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="/Venta/registrarVenta">Registrar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Consultar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Actualizar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Eliminar Venta</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Nosotros">Gestionar Usuario</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="#">Consultar</a></li>
                    </ul>
                </li>
            </ul>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>
    <!--Inicio-->
    <section class="home" id="home">
        <div class="home-text">
            <h1><span>Bienvenido,</span> en esta <br>sección podrá <br><span> Actualizar</span> su<span> Cliente</span></h1>
        
        </div>
    </section>

</section>
<!--Contactenos container-->
<section class="formulario" id="formulario">
<form method="POST" action="/Cliente/actualizarCliente/{{ cliente.codigoCliente }}">
    <h2>Actualizar Cliente</h2>
    <br>
    <div class="input-group">
        <label>Código Cliente</label>
        <input type="number" name="codigoClienteActualizar" id="codigoClienteActualizar" value="{{ cliente.codigoCliente }}" required readonly> 

        <label>Identificación Cliente</label>
        <input type="number" name="identificacionClienteActualizar" id="identificacionClienteActualizar" value="{{ cliente.identificacionCliente }}" placeholder="" required autofocus>

        <label>tipo Identificación Cliente</label>
        <input type="text" name="tipoIdentificacionClienteActualizar" id="tipoIdentificacionClienteActualizar" step="0.01" value="{{ cliente.tipoIdentificacionCliente }}" placeholder="" required>

        <label>Nombre Cliente</label>
        <input type="text" name="nombreClienteActualizar" id="nombreClienteActualizar" value="{{ cliente.nombreCliente }}"placeholder="Nombre Cliente"required>

        <label>Telefono Cliente</label>
        <input type="number" name="telefonoClienteActualizar" id="telefonoClienteActualizar" value="{{ cliente.telefonoCliente }}" placeholder="" required>

        <label>Direccion Cliente</label>
        <input type="text" name="direcionClienteActualizar" id="direcionClienteActualizar" value="{{ cliente.direccionCliente }}" placeholder="" required>

        <label>Telefono 2 Cliente</label>
        <input type="number" name="telefono2ClienteActualizar" id="telefono2ClienteActualizar" value="{{ cliente.telefono2Cliente }}" placeholder="" required>

        <label>Correo Cliente</label>
        <input type="email" name="correoClienteActualizar" id="correoClienteActualizar" value="{{ cliente.correoCliente }}"placeholder="" required>

        <label>Código Usuario</label>
        <input type="number" name="codigoUsuarioFKActualizar" id="codigoUsuarioFKActualizar" value="{{ cliente.codigoUsuarioFK }}" placeholder="" required>
        <br>
        <br>

        <input class="btn1" type="submit" value="Actualizar Cliente">
    </div>
</form>
</section>
<br>
<br>
<br>
<!--Footer-->
<section class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="/index" class="logo">Luji<span>car's</span></a>
            <div class="social">
                <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>

        </div>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; copyright Lujicar's 2023</p>
</div>

    <!--Link deL JS-->
    <script src="../static/assets/js/main.js"></script>
</body>
</html>