<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Producto</title>
    <link rel="stylesheet" href="../../static/assets/css/Producto.css">
</head>

<body>
 <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/" class="logo">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar">
                <li><a href="#Inicio" class="active">Inicio</a></li>
                <li>
                    <a href="#home">Gestionar Productos</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="/Producto/registrarProducto">Registrar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Consultar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Actualizar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Eliminar Producto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Nosotros">Gestionar Ventas</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="/Venta/registrarVenta">Registrar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Consultar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Actualizar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Eliminar Venta</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Nosotros">Gestionar Usuario</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="#">Consultar</a></li>
                    </ul>
                </li>
            </ul>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>


    <!--Inicio-->
    <section class="home" id="home">
        <div class="home-text">
            <h1><span>Bienvenido,</span> en esta <br>sección podrá <br><span> Actualizar</span> sus<span>
                    Productos.</span></h1>
        </div>
    </section>
    <br>
    <br>
    


    <!--Registrar Producto container-->
    <section class="formulario" id="formulario">
        <form form method="POST" action="/Producto/actualizarProducto/{{ producto.codigoProducto }}">
            <h2>ACTUALIZAR PRODUCTO</h2>
            <br>
            <br>
            <div class="input-group">
                <label for="codigoActualizar">Código Producto</label>
                <input type="number" name="codigoActualizar" id="codigoActualizar" value="{{ producto.codigoProducto }}" placeholder="" required readonly>

                <label for="nombreActualizar">Nombre Producto</label>
                <input type="text" name="nombreActualizar" id="nombreActualizar" value="{{ producto.nombreProducto }}" placeholder="" required autofocus>

                <label for="precioActualizar">Precio Venta Producto</label>
                <input type="number" name="precioActualizar" id="precioActualizar" value="{{ producto.precioVentaProducto }}" placeholder="" required>

                <label for="unidadActualizar">Unidad Medida Producto</label>
                <input type="text" name="unidadActualizar" id="unidadActualizar" value="{{ producto.unidadMedidaProducto }}" placeholder="" required>

                <label for="cantidadActualizar">Stock Producto</label>
                <input type="text" name="stockActualizar" id="stockActualizar" value="{{ producto.stockProducto }}" placeholder="" required></input>

                <label for="descripcionActualizar">Descripción Producto</label>
                <input type="text" name="descripcionActualizar" id="descripcionActualizar" value="{{ producto.descripcionProducto }}" maxlength="300" required></input>
                <br>

                <input class="btn1" type="submit" value="Actualizar Producto">

                <a href="/Producto/consultarProducto">Volver a la consulta de Producto</a>
            </div>
        </form>
    </section>

<!--Footer-->
<section class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="/index" class="logo">Luji<span>car's</span></a>
            <div class="social">
                <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>

        </div>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; copyright Lujicar's 2023</p>
</div>


    <!--Link deL JS-->
    <script src="../static/assets/js/main.js"></script>
</body>

</html>