<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/Cliente.css">
    <title>Consultar Cliente</title>
</head>
<script type="text/javascript">
    function confirmar(){
        var respuesta = confirm ("Desea eliminar el producto?");
        if(respuesta==true){
            return true;
        }
        else {
            return false;
        }
    }
</script>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/" class="logo">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar">
                <li><a href="#Inicio" class="active">Inicio</a></li>
                <li>
                    <a href="#home">Gestionar Productos</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="/Producto/registrarProducto">Registrar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Consultar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Actualizar Producto</a></li>
                        <li><a href="/Producto/consultarProducto">Eliminar Producto</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Nosotros">Gestionar Ventas</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="/Venta/registrarVenta">Registrar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Consultar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Actualizar Venta</a></li>
                        <li><a href="/Venta/consultarVenta">Eliminar Venta</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#Nosotros">Gestionar Usuario</a>
                    <br>
                    <ul class="menu-vertical">
                        <li><a href="#">Consultar</a></li>
                    </ul>
                </li>
            </ul>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>
    <!--Inicio-->
    <section class="home" id="home">
        <div class="home-text">
            <h1><span>Bienvenido,</span> en esta <br>sección podrá <br><span> Consultar</span> su<span> Cliente</span></h1>
        
        </div>
    </section>
<br>
<br>
<center>
<div>
    <h1>CONSULTAR CLIENTE</h1>
    <br>
    <br>
    <br>

</div>
</center>
<center>
    <table>
    <tr>
      <th>Id</th>
      <th>Identificación Cliente</th>
      <th>Tipo Identificación Cliente</th>
      <th>Nombre Cliente</th>
      <th>Teléfono Cliente</th>
      <th>Dirección Cliente</th>
      <th>Telefono 2 Cliente</th>
      <th>Correo Cliente</th>
      <th>Código Usuario</th>
      <th>Botones</th>
    </tr>
    {% for cliente in cliente %}
    <tr>
        <td>{{ cliente.codigoCliente }}</td>
        <td>{{ cliente.identificacionCliente }}</td>
        <td>{{ cliente.tipoIdentificacionCliente }}</td>
        <td>{{ cliente.nombreCliente }}</td>
        <td>{{ cliente.telefonoCliente }}</td>
        <td>{{ cliente.direccionCliente }}</td>
        <td>{{ cliente.telefono2Cliente }}</td>
        <td>{{ cliente.correoCliente }}</td>
        <td>{{ cliente.codigoUsuarioFK }}</td>
    <td>
        <a href="/Cliente/actualizarCliente/{{ cliente.codigoCliente }}">Actualizar</a>
        <a href="/Cliente/eliminarCliente/{{ cliente.codigoCliente }}">Eliminar</a>
    </td>
        </tr>
        {% endfor %}
    </table>

    <a href="/Cliente/registrarCliente">Registrar Nuevo Cliente</a>

    </div>
</center>
<!--Footer-->
<section class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="/index" class="logo">Luji<span>car's</span></a>
            <div class="social">
                <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>

        </div>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; copyright Lujicar's 2023</p>
</div>


    <!--Link deL JS-->
    <script src="../static/assets/js/main.js"></script>
</body>
</html>