<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/assets/css/menuAdministrador.css">
    <title>Menú Administrador</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav-1 container-1">
            <!--Menú Icon-->
            <i class='bx-1 bx-menu' id="menu-icon-1"></i>
            <!--Logo-->
            <a href="#" class="logo-1">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar-1">
                <li><a href="/menuAdministrador" class="active">Inicio</a></li>
            </ul>
            <ul class="navbar-1">
                <li><a href="/usuarios/logout">Cerrar Sesión</a></li>
            </ul>
  
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>
</section>
    <div class="cotainer">
    <div class="container__cards">
        <div class="card">
            <div class="cover__card">
                <img src="../../../static/assets/img/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="">
            </div>
            <h2>Administador Daniel</h2>
            <hr>
            <div class="footer__card">
                <h3 class="user__name">ID ADMIN</h3>
                <i>01</i>
                <h3 class="user__name">Nombre</h3>
                <i>Daniel Stiven</i>
                <h3 class="user__name">Apellido</h3>
                <i>Lopez Hurtado</i>
                <h3 class="user__name">Telefono</h3>
                <i>3209850129</i>
                <h3 class="user__name">Dirección</h3>
                <i>Calle 128bis #95-40</i>
                <h3 class="user__name">Número de Identicificación</h3>
                <i>109283874</i>
            </div>
        </div>
    </div>
    
    <a href="../Producto/registrarProducto.html"><button class="btn1">Registrar Producto</button></a>
    
    <a href="../Producto/consultarProducto.html"><button class="btn1">Consultar Producto</button></a>
    
    <a href="../Producto/actualizarProducto.html"><button class="btn1">Modificar Producto</button></a>
    
    <a href="/consultarProducto"><button class="btn1">Eliminar Producto</button></a>
    
    <a href="/registrarVenta"><button class="btn1">Gestionar Venta</button></a>
    
    <a href="#"><button class="btn1">Consultar Usuario</button></a>

</div>

<br>
<!--Footer-->
<section class="footer">
    <div class="footer-container container">
        <div class="footer-box">
            <a href="/index" class="logo">Luji<span>car's</span></a>
            <div class="social">
                <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>

        </div>
    </div>
</section>
<!--Copyright-->
<div class="copyright">
    <p>&#169; copyright Lujicar's 2023</p>
</div>


    <!--Link deL JS-->
    <script src="../../../static/assets/js/main.js"></script>
</body>
</html>