<!DOCTYPE html>
<html>
<head>
    <title>Vista de Productos</title>
    <link rel="stylesheet" href="../../../static/assets/css/menuCliente.css">
</head>
<body>
      <!--Navbar-->
      <header>
        <!--Nav Container-->
        <div class="nav-1 container-1">
            <!--Menú Icon-->
            <i class='bx-1 bx-menu' id="menu-icon-1"></i>
            <!--Logo-->
            <a href="/index" class="logo-1">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar-1">
                <li><a href="/menuCliente" class="active">Inicio</a></li>
                
                <li>
                    <a href="#Nosotros">MIRA TU CARRITO</a>
                    <br>
                    <ul class="menu-vertical-1">
                        
                    </ul>
                </li>
                
            </ul>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>
    <section>
        <div class="contenedor1">
            <!-- Producto 1 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/D_NQ_NP_963161-MCO54454856132_032023-V.webp" alt="Producto 1">
                        <h2>VINILO</h2>
                        <p>Vinilo Adhesivo Metalizado 61 Cm X 1 Metro , Plata O Dorado</p>
                        <span class="precio">25.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 2 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/s-l1600.jpg" alt="Producto 2">
                        <h2>TAPETES</h2>
                        <p>Juego de tapetes originales Acura RDX </p>
                        <span class="precio">170.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 3 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/s-l1600 (1).jpg" alt="Producto 3">
                        <h2>kIT REPARACION</h2>
                        <p>Kit de reparación de manija de puerta interior</p>
                        <span class="precio">53.900</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 4 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/s-l1600 (2).jpg" alt="Producto 4">
                        <h2>PANEL</h2>
                        <p>panel de puerta lateral delantero</p>
                        <span class="precio">220.00</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 5 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/D_NQ_NP_2X_822602-MCO53175400342_012023-F.webp" alt="Producto 5">
                        <h2>PARLANTES</h2>
                        <p>Parlantes Krypton Audio Carro Bocina 300watts 2uni 6.5p K651</p>
                        <span class="precio">100.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 6 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/luz.webp" alt="Producto 6">
                        <h2>LUZ DIRECCIONAL</h2>
                        <p>Luz Direccional Espejo Derecho Renault Sandero</p>
                        <span class="precio">70.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
            
            <!-- Producto 3 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/ESPEJO.webp" alt="Producto 3">
                        <h2>ESPEJO</h2>
                        <p>Espejo Derecho Electrico Suzuki Grand Vitara 2008</p>
                        <span class="precio">250.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 4 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/PERA O POMO.webp" alt="Producto 4">
                        <h2>PERA O POMO </h2>
                        <p>Pera O Pomo Con Base Y Forro Spark Gt Plata Importado</p>
                        <span class="precio">123.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
    
            <!-- Producto 5 -->
            <div class="contenedor1__producto">
                <div class="producto1">
                    <div class="cover1__producto">
                        <img src="../../../static/assets/img/LED.webp" alt="Producto 5">
                        <h2>LUZ LED</h2>
                        <p>Luces Led Rgb Multicolor Interior De Carro Sensor De Música</p>
                        <span class="precio">50.000</span>
                        <button class="boton-comprar">AGREGAR AL CARRITO</button>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section>
  <!-- footer section -->


  <script type="text/javascript" src="../../../static/assets/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../../../static/assets/js/bootstrap.js"></script>
</body>
</html>